@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none; 
  overflow-x: hidden;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 0; 
  height: 0;
}

.custom-scrollbar::-webkit-scrollbar {
  display: none; 
}
